@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #27374D;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign_in_card {
    padding: 2rem;
    border-radius: 1.5rem;
    background-color: #F1F6F9;
}

h2 {
    color: #27374D;
    font-size: 33px;
    font-weight: bold;
    display: grid;
    place-items: center;
}

.myForm {
    padding-top: 2rem;
    display: grid;
    place-items: center;
}

.input_cadastro {
    margin-bottom: 2rem;
    padding-left: 10px;
    width: 25rem;
    height: 3rem;
    border-radius: .5rem;
    color: #27374D;
    outline: none;
    display: grid;
    place-content: center;
    border: 2px lightgray;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.login {
    margin-bottom: 2rem;
    width: 25rem;
    height: 3rem;
    color: #27374D;
    display: grid;
    place-content: center;
    text-decoration: none;
}

#submit {
    background-color: rgb(0, 0, 0);
    width: 80%;
    padding: 10px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

#cadastro_confirmacao {
    color: greenyellow;
    padding: 10px;
    display: none;
}

#email_erro {
    color: red;
    padding: 10px;
    display: none
}

#senha_erro {
    color: red;
    padding: 10px;
    display: none
}

#nome_erro {
    color: red;
    padding: 10px;
    display: none
}